default:
  image: docker:29-cli
  services:
    - docker:29-dind
  before_script:
    - docker info

variables:
    DOCKER_TLS_CERTDIR: "/certs"

build_and_publish:
    tags:
        - linux-docker
    before_script:
        - echo "$DOCKER_REGISTRY_TOKEN" | docker login $DOCKER_REGISTRY --username $DOCKER_REGISTRY_USER --password-stdin
    script:
        - docker build -t $DOCKER_REGISTRY/nuttyb/nuttyb:latest .
        - docker push $DOCKER_REGISTRY/nuttyb/nuttyb:latest
